pr8/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="page" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="colontitul">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="theme_r" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="nump_l" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="theme_l" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="nump_r" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="content">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="image" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element type="xs:string" name="image_title" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="p" maxOccurs="unbounded" minOccurs="0" >
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="b" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="num" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="size"/>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>